.footer {
    padding: 10px;
    background-color: #333; /* Change to your preferred color */
    color: #fff;
    text-align: center;
  }
  

  .footer p {
    margin: 0; /* Removes default margin from the paragraph */
    font-size: 1rem; /* Sets the size of the font */
  }